* {
  text-decoration: none;
  padding: 0 0;
  margin: 0;
  font-family: "Avenir";
}

body {
  position: relative;
}

h1 {
  color: #636F84;
}

/* HEADER */
header {
  height: 100px;
}

.navbar-grid {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.navbar {
  margin-top: 30px;
  justify-content: space-between;
  color: white;
}

.navbar a {
  margin-left: 10px;
  color: #636F84;
}

.navbar .primaryLink {
  color: white;
  border: none;
  width: 300px;
  height: 200px;
  margin-bottom: 50px;
  border-radius: 30px;
  padding: 10px 20px;
  background-image: linear-gradient(133deg, #99a3e8, #8fcae4);
}

/* COVER */
#cover {
  min-height: 100vh;
	width: 100%;
}

.cover-text {
	margin: 0 auto;
  font-family: 'Source Serif Pro', serif;
	font-size: 50px;
	margin: 220px 0;
}

/* ABOUT */

#about {
	min-height: 100vh;
	margin-bottom: 50px;
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.about-image {
  width: 100%;
  height: 100%;
	margin: 0 auto;
	justify-content: center;
	padding-left: 2%;
	padding-right: 2%;
}

.about-image img {
  border-radius: 50%;
}

.about-text {
  margin-top: 30%;
}

/* SKILLS */

#skills {
  min-height: 150px;
	width: 100%;
	padding-top: 50px;
}

.skills h3 {
  margin-bottom: 15px;
}

.skills p {
  padding-bottom: 20px;
}

.skill {
	margin-bottom: 50px;
}

#skill-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

/* WORK */

#work {
  margin-top: 0px;
  background-color: rgba(185, 219, 222, 0.2);
}

#work-title h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  font-size: 14px;
  color: white !important;
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-image: linear-gradient(-133deg, #99a3e8, #8fcae4);
  margin-bottom: 70px;
}

.card {
	width: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(30, 45, 62, 0.09);
  transition: box-shadow 0.2s;
  height: 300px;
  margin-bottom: 30px;
  float: left;
}

.card-content {
	display: flex;
	flex-direction: column;
}

.card .card-tags {
  margin: 15px 15px 0 25px;
}

.card .card-tags .card-tag {
  float: left;
  font-size: 10px;
  margin-right: 10px;
  color: #b3b6bf;
}

.card h4 {
  float: left;
  margin: 5px 25px 25px;
  color: #333d4e;
  font-family: 'Source Serif Pro', serif;
}

.card-img img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 230px;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

#contact {
  width: 100%;
  background-image: linear-gradient(133deg, #99a3e8, #8fcae4);
}

.footer-content {
  color: white;
}

.footer-content h1 {
  color: white;
}

.footer-content a {
  color: white;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
}

.footer-bottom {
  background-color: #333d4e;
  text-align: center;
}

.footer-icons {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-label {
  font-size: 14px;
  background-color: #1d262f;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e9ecf6;
}

.footer-icon-img {
  width: 30px;
  margin: 0 20px;
}